.container .banner .arrow{width:13px; height:9px; padding:0; margin-right: 78px;}
.image_carousel2 {height: 205px !important; overflow:hidden;}
.image_carousel2 #foo3 div{height:36px;}
.secondaryNav{z-index: 9999;}